/* Css clear*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Start of navbar style*/

navbar {
  width: 99vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 10rem 1fr;
  align-items: center;
  box-shadow: -3px 4px #FCFCFC;

}

.icon {
  width: 2.5rem;
}

.profile {
  display: flex;
  align-items: center;
  padding-left: 3rem;
}

.profile img {
  width: 2.5rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a p {
  display: flex;
  align-items: center;
  color: #424242;
}

a {
  text-decoration: none;
}

.menu a p.active {
  color: #fea319;
}

/* end of navbar style*/
/* Start of search results style*/

.money::before {
  content: "\20AA   ";
  color: #FE9F10;
}

.money {
  color: #FE9F10;
}

.search {
  display: grid;
  grid-gap: 2rem;
  justify-content: center;
  padding-top: 6rem;
}

.search-result {
  display: flex;
  border: 2px solid #f0f0f0;
  height: 6rem;
  align-items: center;
  justify-content: space-around;
  width: 80vw;
  border-radius: 2rem;
}

.search-result .buy{
  background-color: white;
  border: 2px solid #FE9F10;
  color: #FE9F10;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

.search-result .update{
  background-color: white;
  border: 2px solid #10ABDC;
  color: #10ABDC;
  border-radius: 1.5rem;
  width: 6.4rem;
  height: 3.5rem;
}

.time{
  color: #5C5C5C;
}

/* end of search results style*/
/* Start of footer style*/

.footer {
  background-color: #373737;
  margin-top: 20rem;
  display: flex;
  justify-content: space-around;
  border-top: 3px solid #FE9F10;
  width: 99vw;
  height: 30rem;
}

.footer .logos {
  padding-top: 10rem;
}

.footer .logos img {
  width: 3rem;
}

.footer .icons {
  display: flex;
  padding-top: 5rem;
  flex-direction: column;
}

.footer h4 {
  color: #FE9F10;
  border-bottom: 1px solid;
  text-align: right;
}

.footer .icons img {
  width: 2rem;
}

.footer .icons a {
  text-decoration: none;
  color: #ffffff;
  padding-top: 1rem;
  text-align: right;
}

/* End of footer style*/

/*Start of media query*/

@media only screen and (max-width: 1200px) {
  navbar{
    height: 7rem;
  }

  a {
    padding-left: 1rem;
  }

  .search-result {
    height: 9rem;
    font-size: 1.5rem;
    width: 85vw;
  }

  .search-result .buy {
    font-size: 1.5rem;
    width: 4.5rem;
    height: 4.5rem;
  }

  .search-result .update {
    font-size: 1.5rem;
    width: 7.5rem;
    height: 4.5rem;
  }

  .footer .logos{
    padding-left: 1rem;
    
  }

  .footer .icons {
    padding-right: 1rem;
  }

  .footer .icons a {

    font-size: 1.5rem;
  }
  
  
}

/*end of media query*/


